{% extends "layout/layout.html" %}

{% block content %}
    </div>
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>{{cat}} </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 portfolio-group no-padding">
                {% for event in liste_events_annees %}
                <!-- Portfolio Item -->
                <div class="col-md-3 portfolio-item margin-bottom-40 design">
                    <div>
                        <a href= {{url_for('archives_evenement', annee = event[1], event =event[0])}} >
                            <figure>
                                <img src="{{ url_for('static', filename='uploads/') }}{{event[1]}}/{{event[0]}}/{{event[2]}}">
                                <figcaption>
                                    <h3 class="margin-top-20">{{event[0]}} - {{event[1]}}</h3>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <!-- End Portfolio Item -->
            </div>
        </div>
    </div>
{% endblock %}
