{% extends "layout/layout.html" %}

{% block content %}
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>{{annee}} - {{event}} </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 portfolio-group no-padding">
                {% for file in filename %}
                <!-- Portfolio Item -->
                <div class="col-md-3 portfolio-item margin-bottom-40 design">
                    <div>
                        <figure>
                            <a href = "{{ url_for('static', filename='uploads/') }}{{annee}}/{{event}}/{{file}}">
                                <img src="{{ url_for('static', filename='uploads/') }}{{annee}}/{{event}}/{{file}}">
                            </a>
                        </figure>
                    </div>
                </div>
                {% endfor %}
                <!-- End Portfolio Item -->
            </div>
        </div>
    </div>
{% endblock %}
