{% extends "layout/layout.html" %}

{% block content %}
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-9">
                <!-- Main Content -->
                <div class="headline">
                    <h2>Créer un nouvel événement</h2>
                    <!-- Contact Form -->
                    <form action="" method="post">
                        <label>Nom</label>
                        {% with msgs = get_flashed_messages(category_filter=['error']) %}
                            {% if msgs %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for m in msgs %}
                                            <li>{{ m | safe }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="row margin-bottom-20">
                            <div class="col-md-6 col-md-offset-0">
                                <input type="text" class="form-control" name="new_event" id="new_event">
                            </div>
                        </div>
                        <label>Categorie</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-6 col-md-offset-0">
                                <select name="categorie">
                                    {% for i in liste_annees %}
                                        <option value={{ i[0] }}>{{ i[0] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary" value="Envoyer">Ajouter Evenement</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Main Content -->
    </div>
{% endblock %}
