{% extends "layout/layout.html" %}

{% block content %}
<div class="container">
    <div class="row margin-vert-30">
        <!-- Login Box -->
        <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
            <form class="login-page" action="{{ url_for('public.login') }}" method='POST'>
                <div class="login-header margin-bottom-30">
                    <h2>Login to your account</h2>
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input class="form-control" type='text' name='email' id='email' placeholder='email'/>
                </div>
                <div class="input-group margin-bottom-20">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input class="form-control" type='password' name='password' id='password' placeholder='password'/>
                </div>
                {% with msgs = get_flashed_messages(category_filter=['error']) %}
                    {% if msgs %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for m in msgs %}
                                    <li>{{ m | safe }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="row">
                    <div class="col-md-6">
                        <label class="checkbox">
                            <input type="checkbox"> Stay signed in
                        </label>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary pull-right" type="submit">Login</button>
                    </div>
                </div>
                <hr>
                <h4>Forget your Password ?</h4>
                <p>
                    <a href="{{ url_for('public.reset_password') }}">Click here</a> to reset your password.
                </p>
                <h4> Create a new count </h4>
                <p>
                <a href="{{ url_for('public.creation_compte') }}">Click here </a>to create a new count. </p>
            </form>
        </div>
        <!-- End Login Box -->
    </div>
</div>
{% endblock %}
