{% extends "layout/layout.html" %}

{% block content %}
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-9">
                <!-- Main Content -->
                <div class="headline">
                    <h2>Réinitialiser son mot de passe </h2>
                </div>
                <br>
                <!-- Contact Form -->
                <form action="" method="post">
                    <label>Email </label>
                        <span class="color-red">*</span>
                    </label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6 col-md-offset-0">
                            <input class="form-control" type="text" name= "email" id="email">
                        </div>
                    </div>
                    <label>Mot de passe </label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-8 col-md-offset-0">
                            <input rows="8" type="password" class="form-control" name = "password" id="password">
                        </div>
                    </div>
                    <label>Confirmer votre mot de passe </label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-8 col-md-offset-0">
                            <input rows="8" type="password" class="form-control" name = "confirmation_password" id="confirmation_password">
                        </div>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-primary" value="Envoyer">Confirmer la création du compte</button>
                    </p>
                </form>
                <!-- End Contact Form -->
                <!-- End Main Content -->
            </div>
            <!-- End Main Column -->
            <!-- Side Column -->
            <div class="col-md-3">
                <!-- Recent Posts -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact Info</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Pour des questions supplémentaires sur le club ou la réservation de matériel, vous pouvez contacter les membres du club Ponthé avec les informations ci-jointes
                        </p>
                        <li>
                            <i class="fa-phone color-primary"></i>06 29 78 24 32
                        </li>
                        <li>
                            <i class="fa-envelope color-primary"></i>ponthe@liste.enpc.fr
                        </li>
                    </div>
                </div>
            </div>
            <!-- End recent Posts -->
        </div>
    </div>
{% endblock %}
