**/__pycache__/
**/*.pyc

# Virtual environment
web/venv/

# Credentials : Mysql / Email
web/ponthe.prod.cfg
.env

# Instance Folder - used for configuration parameters and uploads / fixtures files
# web/app/instance/club_folder/
web/app/instance/ponthe.cfg
web/app/instance/club_folder
web/app/instance/upload_tmp

# Pypi package installation
web/app/Galeries_Ponthe.egg-info/
