**/__pycache__/
**/*.pyc

# Virtual environment
web/venv/


.env

# Instance Folder - used for configuration parameters and to serve static files
web/app/instance/logs/ponthe.log*
web/app/instance/keys/jwtRS256*
web/app/instance/static
web/app/instance/tmp
web/app/instance/thumbs
web/app/instance/club_folder

# Coverqge
web/app/.coverage

# Pypi package installation
web/app/Galeries_Ponthe.egg-info/

# Sauvegardes de la bdd
db-backup

.idea

# Clefs RSA pour JWT
*.pem
