**/__pycache__/
**/*.pyc

# Virtual environment
web/venv/


.env

# Instance Folder - used for configuration parameters and uploads / fixtures files
web/app/instance/club_folder
web/app/instance/upload_tmp
web/app/instance/thumbs
web/app/instance/club_folder
web/app/instance/uploads
web/app/ponthe/data/
web/app/ponthe/config.py

# Coverqge
web/app/.coverage

# Pypi package installation
web/app/Galeries_Ponthe.egg-info/

# Sauvegardes de la bdd
db-backup

.idea

# Clefs RSA pour JWT
*.pem
