version: "3.1"

services:
  web:
    image: quay.io/enpcponthe/galeries-web:${TAG-latest}
    build: ./web
    ports:
      - "127.0.0.1:${WEB_PORT}:80"
    volumes:
      - ./volumes/static:/app/instance/static
      - ./volumes/keys:/app/instance/keys
      - ./volumes/logs:/app/instance/logs
    depends_on:
      - db
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - SQLALCHEMY_DATABASE_URI=mysql://${DATABASE_USER}:${DATABASE_PASSWORD}@db/${DATABASE_NAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - WEBHOOK_URL=${WEBHOOK_URL}
      - TAG=${TAG}
    restart: on-failure

  backup:
    image: candyline/mysql-backup-cron
    volumes:
      - ./volumes/db-backup:/backup
    environment:
      - MYSQL_ROOT_PASSWORD=${DATABASE_ROOT_PASSWORD}
      - MYSQL_HOST=db
      - DBS=${DATABASE_NAME}
      - BACKUP_DIR=/backup
      - CRON_D_BACKUP="0 1 * * * root /backup.sh | logger"
    depends_on:
      - db
    restart: on-failure

  db:
    image: mysql:8.0
    command: mysqld --default-authentication-plugin=mysql_native_password
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - DATA_PATH_HOST=/var/lib/mysql
      - MYSQL_ROOT_PASSWORD=${DATABASE_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DATABASE_NAME}
      - MYSQL_USER=${DATABASE_USER}
      - MYSQL_PASSWORD=${DATABASE_PASSWORD}
    restart: on-failure

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "${PHPMYADMIN_PORT}:80"
    depends_on:
      - db
    restart: on-failure

volumes:
  db-data:
    driver: local
