version: "3.1"

services:
  web:
    image: quay.io/philippeferreiradesousa/ponthe-web:${TAG:-latest}
    build: ./web
    ports:
      - "127.0.0.1:7000:80"
    volumes:
      - ./web/app/instance/club-folder:/app/instance/club_folder
      - ./web/db_backup:/db_backup
      - ./web/app/instance/thumbs:/app/instance/thumbs
      # - ./web/app/ponthe/data/test:/app/instance/uploads
      - ./web/app/ponthe/data/galleries:/app/instance/uploads
      - ./web/app/ponthe:/app/ponthe
    depends_on:
      - db
      - sshd
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - LOG_PATH=${LOG_PATH}
      - SQLALCHEMY_DATABASE_URI=mysql://${DATABASE_USER}:${DATABASE_PASSWORD}@db/${DATABASE_NAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - WEBHOOK_URL=${WEBHOOK_URL}
    restart: always

  sshd:
    # image: quay.io/philippeferreiradesousa/ponthe-sshd:${TAG:-latest}
    env_file: .env
    build:
      context: ./sshd
      args:
        - SSH_USERNAME
        - SSH_PASSWORD
    ports:
      - "7502:22"
    volumes:
      - club-folder:/home/ponthe
    restart: always

  backup:
    env_file: .env
    image: candyline/mysql-backup-cron
    volumes:
      - ./db-backup:/backup
    environment:
      - MYSQL_ROOT_PASSWORD=${DATABASE_ROOT_PASSWORD}
      - MYSQL_HOST=db
      - DBS=${DATABASE_NAME}
      - BACKUP_DIR=/backup
      - CRON_D_BACKUP="0 1 * * * root /backup.sh | logger"
    depends_on:
      - db
    restart: always

  db:
    env_file: .env
    image: mysql:8.0
    command: mysqld --default-authentication-plugin=mysql_native_password # Sinon "Authentication plugin 'caching_sha2_password' cannot be loaded
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - DATA_PATH_HOST=/var/lib/mysql
      - MYSQL_ROOT_PASSWORD=${DATABASE_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DATABASE_NAME}
      - MYSQL_USER=${DATABASE_USER}
      - MYSQL_PASSWORD=${DATABASE_PASSWORD}
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "${PHPMYADMIN_PORT}:80"
    depends_on:
      - db
    restart: always

volumes:
  db-data:
    driver: local
  club-folder:
    driver: local
