Flask
Flask_Mail
Flask-Login
Flask-Cli
Werkzeug
SQLAlchemy
Flask-SQLAlchemy
mysqlclient
Flask-Migrate
# nose2 # test runner
Flask-Script
translitcodec # to slugify foreign letters like ü in ue
slack-logger
Flask-JWT-extended[asymmetric_crypto]
click
