Flask
Flask_Mail
Flask-Login
Flask-Cli
Werkzeug
SQLAlchemy
Flask-SQLAlchemy
mysqlclient
Flask-Migrate
Flask-Script
translitcodec # to slugify foreign letters like ü in ue
slack-logger
Flask-JWT-extended[asymmetric_crypto]
click
Flask-Thumbnails
Pillow
Flask-Tus-Ponthe==1.1.3
flask-marshmallow