{% extends "layout/layout.html" %}
{%block content %}
            <!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <!-- Main Column -->
                        <div class="col-md-9">
                            <!-- Main Content -->
                            <div class="headline">
                                <h2>Réserver du matériel</h2>
                            </div>
                            <p> Formulaire de réservation </p>
                            <br>
                            <!-- Contact Form -->
                            <form action="" method="post" enctype="multipart/form-data">

                                <label for="fic">Fichier</label><input id="fic" type="file" name="fic" />

                                <input id="btsub" type="submit" value="Uploader" />

                             </form>
                            <!-- End Contact Form -->
                            <!-- End Main Content -->
                        </div>
                        <!-- End Main Column -->
                        <!-- Side Column -->
                        <div class="col-md-3">
                            <!-- Recent Posts -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Contact Info</h3>
                                </div>
                                <div class="panel-body">
                                    <p>Pour des questions supplémentaires sur le club ou la réservation de matériel, vous pouvez contacter la présidente du club Ponthé avec les informations ci-jointes </p>
                                    <ul>
                                    <li>
                                            <i class="fa-phone color-primary"></i>06 29 78 24 32</li>
                                        <li>
                                            <i class="fa-envelope color-primary"></i>ines.tazi@eleves.enpc.fr </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End recent Posts -->
                        </div>
                        <!-- End Side Column -->
                    </div>
                </div>
            </div>
            <!-- === END CONTENT === -->
{% endblock %}