{% extends "layout/layout.html" %}
{%block content %}
            <!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <!-- Main Column -->
                        <div class="col-md-9">
                            <!-- Main Content -->
                            <div class="headline">
                                <h2>Description obligatoire</h2>
                                <br>
                                <!-- Contact Form -->
                                <form action="" method="post">
                                <label>Evenement</label>
                                {% with msgs = get_flashed_messages(category_filter=['error_event']) %}

                                        {% if msgs %}

                                            <ul class="flashed {{ 'error_event' }}">

                                                {% for m in msgs %}

                                                    <li>{{ m|safe }}</li>

                                                {% endfor %}

                                            </ul>

                                        {% endif %}

                                    {% endwith %}
                                <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                        <select name="evenement">
   										{% for i in dict_event %}
                                        <option value={{ i }}>{{ i }}</option>
                                        {% endfor %}
										</select>
                                    </div>
                                </div>
                                <p>
                                    <button type="submit" class="btn btn-primary" name="Envoyer" value="create_event">Créer un évenement</button>
                                </p>
                                <label>Date</label>
                                {% with msgs = get_flashed_messages(category_filter=['error_date']) %}

                                        {% if msgs %}

                                            <ul class="flashed {{ 'error_date' }}">

                                                {% for m in msgs %}

                                                    <li>{{ m|safe }}</li>

                                                {% endfor %}

                                            </ul>

                                        {% endif %}

                                    {% endwith %}
                                <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
										<select name="annee">
    									{% for i in dict_annee %}
                                        <option value={{ i }}>{{ i }}</option>
                                        {% endfor %}
										</select>
                                    </div>
                                </div>
                                <p>
                                    <button type="submit" class="btn btn-primary" name="Envoyer" value="create_annee">Créer une nouvelle année</button>
                                </p>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                        <h2>Ajouter maintenant vos photos</h2>
                                    </div>
                                </div>
                                <p>
                                    <button type="submit" class="btn btn-primary" name="Envoyer" value="Envoyer">Suivant</button>
                                </p>
                                </form>
                                
                            </div>
                            <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                    </div>
                            <!-- End Main Content -->
            <!-- === END CONTENT === -->
{% endblock %}
