{% extends "layout/layout.html" %}
{%block content %}
            <!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <!-- Main Column -->
                        <div class="col-md-9">
                            <!-- Main Content -->
                            <div class="headline">
                                <h2>Ajouter vos photos!!!</h2>
                                <p> Description </p>
                                <br>
                                <!-- Contact Form -->
                                <form action="" method="post">
                                <label>Evenement</label>
                                {% with msgs = get_flashed_messages(category_filter=['error_event']) %}

                                        {% if msgs %}

                                            <ul class="flashed {{ 'error_event' }}">

                                                {% for m in msgs %}

                                                    <li>{{ m|safe }}</li>

                                                {% endfor %}

                                            </ul>

                                        {% endif %}

                                    {% endwith %}
                                <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                        <select name="evenement">
   										<option value="Admissibles">Admissibles</option>
    									<option value="Biéro">Biéro</option>
    									<option value="Campagne BDA">Campagne BDA</option>
    									<option value="Camapagne BDE">Campagne BDE</option>
    									<option value="Campagne BDS">Campagne BDS</option>
    									<option value="Challenge Centrale Lyon">Challenge Centrale Lyon</option>
    									<option value="Coupe de l'X">Coupe de l'X</option>
    									<option value="Croisière">Croisière</option>
    									<option value="Interne">Interne</option>
    									<option value="NDLR">NDLR</option>
    									<option value="Scènes ouvertes">Scènes ouvertes</option>
    									<option value="Semaine SKI">Semaine Ski</option>
    									<option value="Skult">Skult</option>
    									<option value="Suponts">Supont</option>
    									<option value="TOSS">TOSS</option>
    									<option value="TRIUM tournoi">TRIUM tournoi</option>
    									<option value="Trophée Descartes">Trophée Descartes</option>
    									<option value="Voyage">Voyage</option>
   					 					<option value="WE SKI">WE SKI</option>
    									<option value="WEI">WEI</option>
    									<option value="Autre">Autre</option>
										</select>
                                    </div>
                                </div>
                                <label>Date</label>
                                {% with msgs = get_flashed_messages(category_filter=['error_date']) %}

                                        {% if msgs %}

                                            <ul class="flashed {{ 'error_date' }}">

                                                {% for m in msgs %}

                                                    <li>{{ m|safe }}</li>

                                                {% endfor %}

                                            </ul>

                                        {% endif %}

                                    {% endwith %}
                                <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                        <select name="jour">
    									<option value="01">01</option> 
    									<option value="02">02</option> 
    									<option value="03">03</option> 
    									<option value="04">04</option> 
    									<option value="05">05</option> 
    									<option value="06">06</option> 
    									<option value="07">07</option> 
    									<option value="08">08</option> 
    									<option value="09">09</option> 
    									<option value="10">10</option> 
    									<option value="11">11</option> 
    									<option value="12">12</option> 
    									<option value="13">13</option> 
    									<option value="14">14</option> 
    									<option value="15">15</option> 
    									<option value="16">16</option> 
    									<option value="17">17</option> 
    									<option value="18">18</option> 
    									<option value="19">19</option> 
    									<option value="20">20</option> 
    									<option value="21">21</option> 
    									<option value="22">22</option> 
    									<option value="23">23</option> 
    									<option value="24">24</option> 
    									<option value="25">25</option> 
    									<option value="26">26</option> 
    									<option value="27">27</option>
    									<option value="28">28</option> 
    									<option value="29">29</option> 
    									<option value="30">30</option>  
    									<option value="31">31</option>
										</select>
										<select name="mois">
    									<option value="01">Janvier</option>
    									<option value="02">Février</option>
    									<option value="03">Mars</option>
    									<option value="04">Avril</option>
    									<option value="05">Mai</option>
    									<option value="06">Juin</option>
    									<option value="07">Juillet</option>
    									<option value="08">Aout</option>
    									<option value="09">Septembre</option>
    									<option value="10">Octobre</option>
    									<option value="11">Novembre</option>
    									<option value="12">Décembre</option>
										</select>
										<select name="annee">
    									<option value="2018">2018</option>
    									<option value="2017">2017</option>
    									<option value="2016">2016</option>
										</select>
                                    </div>
                                </div>
                                <p>
                                    <button type="submit" class="btn btn-primary" value="Envoyer">Uploader vos photos</button>
                                </p>
                                </form>
                                
                            </div>
                            <div class="row margin-bottom-20">
                                    <div class="col-md-6 col-md-offset-0">
                                    </div>
                            <!-- End Main Content -->
            <!-- === END CONTENT === -->
{% endblock %}
