{% extends "layout/layout.html" %}
{% block content %}
<!-- === BEGIN CONTENT === -->
            <div id="content">
                <div class="container background-white">
                    <div class="row margin-vert-30">
                        <!-- Main Column -->
                        <div class="col-md-9">
                            <!-- Main Content -->
                            <div class="headline">
                                <h2>Mail envoyé</h2>
                                Félicitation {{p}} {{n}}, votre mail a été correctement envoyé ! 
                        </div>
                        <!-- End Main Column -->
                    </div>
                </div>
            </div>
            <div class="logo">
                            <a href="index.html" title="PONTHE">
                                Retour à la page d'accueil
                            </a>
            </div>
            <!-- === END CONTENT === -->
{% endblock %}