{% extends "layout/layout.html" %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h1>Page non trouvée</h1>
                <p>Cliquez ci-dessous pour :</p>
                <ul>
                    <li><a href="http://www.theuselessweb.com">Aller quelque part de plus intéressant</a></li>
                    <li><a href="{{ url_for('private.index') }}">Retourner à la page d'accueil</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
{% endblock %}
