{% extends "layout/layout.html" %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>Bonjour</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 portfolio-group no-padding">
                {% for event, filename in events_annee.items() %}
                <!-- Portfolio Item -->
                <div class="col-md-3 portfolio-item margin-bottom-40 design">
                    <div>
                        <a href={{ url_for('private.archives_evenement', year=year_slug, event=event.slug) }} >
                            <figure>
                                <img src="{{ url_for('static', filename='uploads/') }}{{ year }}/{{ event.name }}/{{ filename }}">
                                <figcaption>
                                    <h3 class="margin-top-20">{{ event.name }}</h3>
                                    <span>Description de l'événement</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>
                {% endfor %}
                <!-- End Portfolio Item -->
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
{% endblock %}
