{% extends "layout/layout.html" %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>{{ category.name }}</h2>
                {% if category.description %}
                    <p>{{ category.description }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 portfolio-group no-padding">
                {% for event in category.events %}
                    <div class="col-md-3 portfolio-item margin-bottom-40 design">
                        <div>
                            <a href="{{ url_for('private.event_gallery', event_slug=event.slug) }}">
                                <figure>
                                    <img src="{{ url_for('uploads', file_path=event.cover.file_path) }}">
                                    <figcaption>
                                        <h3 class="margin-top-20">{{ event.name }}</h3>
                                    </figcaption>
                                </figure>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
{% endblock %}
