{% extends "layout/layout.html" %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-9">
                <!-- Main Content -->
                <div class="headline">
                    <h2>Créer une nouvelle année</h2>
                    <!-- Contact Form -->
                    <form action="" method="post">
                        <label>Nouvelle année</label>
                        {% with msgs = get_flashed_messages(category_filter=['error']) %}
                            {% if msgs %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for m in msgs %}
                                            <li>{{ m | safe }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="row margin-bottom-20">
                            <div class="col-md-6 col-md-offset-0">
                                <input required type="text" class="form-control" name="value">
                            </div>
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary">Ajouter l'année</button>
                        </p>
                    </form>
                <!-- End Main Content -->
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
{% endblock %}
