{% extends "layout/layout.html" %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-9">
                <div class="headline">
                    <h2>Créer une nouvelle galerie</h2>
                    <form action="" method="post">
                        <label>Nom</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-6 col-md-offset-0">
                                <input required type="text" class="form-control" name="gallery_name">
                            </div>
                        </div>
                        <label>Année</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-6 col-md-offset-0">
                                <select name="year_slug">
                                    {% for year in years %}
                                        <option value="{{ year.slug }}">{{ year.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <label>Evénement</label>
                        <div class="row margin-bottom-20">
                            <div class="col-md-6 col-md-offset-0">
                                <select name="event_slug">
                                    {% for event in events %}
                                        <option value="{{ event.slug }}">{{ event.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary">Ajouter la galerie</button>
                        </p>
                        {% with msgs = get_flashed_messages(category_filter=['error']) %}
                            {% if msgs %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for m in msgs %}
                                            <li>{{ m | safe }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
{% endblock %}
