{% extends "common/layout.html" %}
{% from "common/macros.html" import gallery_element %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        {% if current_user.admin %}
            <div class="col-md-12">
                <div class="row margin-vert-30">
                    <h1>Zone admin</h1>
                </div>
                <form action="" method="post">
                    <div class="row margin-vert-30">
                        <div class="col-md-3">
                            <p>
                                <button type="submit" class="btn btn-primary" name="option" value="create_year">Créer une année</button>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <button type="submit" class="btn btn-primary" name="option" value="create_event">Créer un évenement</button>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <button type="submit" class="btn btn-primary" name="option" value="create_gallery">Créer une galerie</button>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <p>
                                <button type="submit" class="btn btn-primary" name="option" value="moderate">Modérer</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
        <!--{% if not current_user.admin %}
            <div class="col-md-12">
                <div class="row margin-vert-30">
                    <h1>Zone d'édition</h1>
                </div>
                <form action="" method="post">
                    <div class="row margin-vert-30">
                        <div class="col-md-3">
                            <p>
                                <button type="submit" class="btn btn-primary" name="option" value="create_gallery">Créer une galerie</button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}-->
        <hr/>
        {% if pending_files_by_gallery %}
            <div class="col-md-12">
                <div class="row margin-vert-30">
                    <h1>Mes fichiers en attente de modération</h1>
                </div>
            </div>
            {% for gallery, files in pending_files_by_gallery.items() %}
                <div class="row margin-vert-30">
                    <div class="col-md-8">
                        <h2><a href="{{ url_for('private.gallery', gallery_slug=gallery.slug) }}">{{ gallery.name }}</a></h2>
                        <h3><a href="{{ url_for('private.event_gallery', event_slug=gallery.event.slug) }}">{{ gallery.event.name }}</a> - <a href="{{ url_for('private.year_gallery', year_slug=gallery.year.slug) }}">{{ gallery.year.name }}</a></h3>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success" href="{{ url_for('private.upload', gallery_slug=gallery.slug) }}">Ajouter des fichiers</a>
                    </div>
                    {% if current_user.admin or current_user.id == gallery.author_id %}
                        {% if gallery.private %}
                            <form class="col-md-2" action="" method="post">
                                <button class="btn btn-warning" type="submit" name="make_gallery_public" value="{{ gallery.slug }}">Rendre publique</button>
                            </form>
                        {% else %}
                            <form class="col-md-2" action="" method="post">
                                <button class="btn btn-warning" type="submit" name="make_gallery_private" value="{{ gallery.slug }}">Rendre privée</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-12 portfolio-group no-padding">
                        {% for file in files %}
                            <div class="col-md-3 portfolio-item margin-bottom-40 design">
                                {{ gallery_element(file) }}
                                <div class="no-border">
                                    <button class="btn btn-danger margin-vert-20" type="button" data-toggle="modal" data-target="#deletePendingModal-{{ file.slug }}">Supprimer</button>
                                </div>
                                <div class="modal fade" id="deletePendingModal-{{ file.slug }}" tabindex="-1" role="dialog" aria-labelledby="FileDeletion" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Suppression du fichier</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                            Es-tu sûr de vouloir supprimer ce fichier. C'est définitif.
                                            </div>
                                            <form class="modal-footer" action="" method="post">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                <button type="submit" name="delete_file" value="{{ file.slug }}" class="btn btn-danger">Confirmer</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        <hr />
        {% endif %}

        <div class="col-md-12">
            <div class="row margin-vert-30">
                <h1>Mes fichiers</h1>
            </div>
        </div>
        {% for gallery, files in confirmed_files_by_gallery.items() %}
            <div class="row margin-vert-30">
                <div class="col-md-8">
                    <h2><a href="{{ url_for('private.gallery', gallery_slug=gallery.slug) }}">{{ gallery.name }}</a></h2>
                    <h3><a href="{{ url_for('private.event_gallery', event_slug=gallery.event.slug) }}">{{ gallery.event.name }}</a> - <a href="{{ url_for('private.year_gallery', year_slug=gallery.year.slug) }}">{{ gallery.year.name }}</a></h3>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success" href="{{ url_for('private.upload', gallery_slug=gallery.slug) }}">Ajouter des fichiers</a>
                </div>
                {% if current_user.admin or current_user.id == gallery.author_id %}
                    {% if gallery.private %}
                        <form class="col-md-2" action="" method="post">
                            <button class="btn btn-warning" type="submit" name="make_gallery_public" value="{{ gallery.slug }}">Rendre publique</button>
                        </form>
                    {% else %}
                        <form class="col-md-2" action="" method="post">
                            <button class="btn btn-warning" type="submit" name="make_gallery_private" value="{{ gallery.slug }}">Rendre privée</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12 portfolio-group no-padding">
                    {% for file in files %}
                        <div class="col-md-3 portfolio-item margin-bottom-40 design no-border">
                            {{ gallery_element(file) }}
                            <div>
                                <button class="btn btn-danger margin-vert-20" type="button" data-toggle="modal" data-target="#deleteModal-{{ file.slug }}">Supprimer</button>
                            </div>
                            <div class="modal fade" id="deleteModal-{{ file.slug }}" tabindex="-1" role="dialog" aria-labelledby="FileDeletion" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Suppression du fichier</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        Es-tu sûr de vouloir supprimer ce fichier. C'est définitif.
                                        </div>
                                        <form class="modal-footer" action="" method="post">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <button type="submit" name="delete_file" value="{{ file.slug }}" class="btn btn-danger">Confirmer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% if not confirmed_files_by_gallery %}
            <div class="row margin-vert-30">
                <div class="col-md-12">
                    Aucun fichier téléversé
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
{% endblock %}
