{% extends "common/layout.html" %}
{% from "common/macros.html" import gallery_element, uppy_script %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="margin-vert-30">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ gallery.name }}</h1>
                </div>
                <div class="col-md-2">
                    <div id="UppyDashboard"></div>
                    <button id="UppyModalOpenerBtn" class="btn btn-primary margin-vert-20">Ajouter des fichiers</button>
                </div>
                {% if current_user.admin or current_user.id == gallery.author_id %}
                    {% if gallery.private %}
                        <form class="col-md-2 margin-vert-20" action="" method="post">
                            <button class="btn btn-warning" type="submit" name="make_gallery_public">Rendre publique</button>
                        </form>
                    {% else %}
                        <form class="col-md-2 margin-vert-20" action="" method="post">
                            <button class="btn btn-warning" type="submit" name="make_gallery_private">Rendre privée</button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if current_user.admin %}
                    <div class="col-md-2">
                        <button class="btn btn-warning margin-vert-20" type="button"onclick="toggleModeration()">Modérer</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-danger margin-vert-20 moderation" style="display:none;" type="button" data-toggle="modal" data-target="#deleteModal">Supprimer la galerie</button>
                    </div>
                {% endif %}
            </div>
            {% if gallery.description %}
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ gallery.description }}</p>
                    </div>
                </div>
            {% endif %}
            {% if gallery.private %}
                <div class="alert alert-warning">
                    Cette galerie est privée : elle n'est visible que par les administrateurs et son auteur
                </div>
            {% endif %}
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="GalleryDeletion" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Suppression de la galerie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    Es-tu sûr de vouloir supprimer cette galerie ? Toutes ses photos seront supprimées.
                    </div>
                    <form class="modal-footer" action="" method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" name="delete" class="btn btn-danger">Confirmer</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 portfolio-group no-padding">
                {% for file in approved_files %}
                    <div class="col-md-3 portfolio-item margin-bottom-40 design">
                        {{ gallery_element(file) }}
                        {% if current_user.admin %}
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-danger moderation" type="button" data-toggle="modal" data-target="#deleteModal-{{ file.slug }}" style="display: none;">Supprimer</button>
                                </div>
                            </div>
                            <div class="row moderation" style="display: none;">
                                {{ file.author.full_name }}
                            </div>
                            <div class="modal fade" id="deleteModal-{{ file.slug }}" tabindex="-1" role="dialog" aria-labelledby="FileDeletion" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Suppression du fichier</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        Es-tu sûr de vouloir supprimer ce fichier. C'est définitif.
                                        </div>
                                        <form class="modal-footer" action="" method="post">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <button type="submit" name="delete_file" value="{{ file.slug }}" class="btn btn-danger">Confirmer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
{{ uppy_script(gallery.slug, trigger="#UppyModalOpenerBtn") }}
{% if current_user.admin %}
    <script>
        document.moderation = false;

        function toggleModeration() {
            document.moderation = !document.moderation;

            var moderatedElements = document.getElementsByClassName('moderation');
            if (document.moderation) {
                for (i = 0; i < moderatedElements.length; i++) {
                    moderatedElements[i].style.display = "inline-block";
                }
            } else {
                for (i = 0; i < moderatedElements.length; i++) {
                    moderatedElements[i].style.display = "none";
                }
            }
        }
    </script>
{% endif %}
{% endblock %}
