{% extends "layout/layout.html" %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="margin-vert-30">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ gallery.name }}</h1>
                </div>
                <div class="col-md-2">
                    <div class="DashboardContainer"></div>
                    <button id="UppyModalOpenerBtn" class="btn btn-primary margin-vert-20">Ajouter des fichiers</button>
                </div>
                {% if current_user.admin %}
                    <div class="col-md-2">
                        <button class="btn btn-danger margin-vert-20" type="button" data-toggle="modal" data-target="#deleteModal">Supprimer la galerie</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-warning margin-vert-20" type="button" data-toggle="modal" onclick="toggleModeration()">Modérer</button>
                    </div>
                {% endif %}
            </div>
            {% if gallery.description %}
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ gallery.description }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="GalleryDeletion" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Suppression de la galerie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    Es-tu sûr de vouloir supprimer cette galerie ? Toutes ses photos seront supprimées.
                    </div>
                    <form class="modal-footer" action="" method="post">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" name="delete" class="btn btn-danger">Confirmer</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 portfolio-group no-padding">
                {% for file in gallery.files %}
                    <div class="col-md-3 portfolio-item margin-bottom-40 design">
                        <div>
                            <figure>
                                <a href="{{ url_for('uploads', file_path=file.file_path) }}">
                                    <img src="{{ file | thumb }}">
                                </a>
                            </figure>
                        </div>
                        {% if current_user.admin %}
                            <div>
                                <button class="btn btn-danger moderation" type="button" data-toggle="modal" data-target="#deleteModal-{{ file.slug }}" style="display: none;">Supprimer</button>
                            </div>
                            <div class="modal fade" id="deleteModal-{{ file.slug }}" tabindex="-1" role="dialog" aria-labelledby="FileDeletion" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Suppression du fichier</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                        Es-tu sûr de vouloir supprimer ce fichier. C'est définitif.
                                        </div>
                                        <form class="modal-footer" action="" method="post">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <button type="submit" name="delete_file" value="{{ file.slug }}" class="btn btn-danger">Confirmer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
<script src="https://transloadit.edgly.net/releases/uppy/v0.25.5/dist/uppy.min.js"></script>
<script>
    const uppyTwo = new Uppy.Core({
        debug: true,
        autoProceed: false,
        {% if not current_user.admin %}
        restrictions: {
            maxFileSize: 1000000000,
            maxNumberOfFiles: 10,
            minNumberOfFiles: 1,
            allowedFileTypes: ['image/*', 'video/*']
        }
        {% endif %}
    });
    uppyTwo
      .use(Uppy.Dashboard, {
          trigger: '#UppyModalOpenerBtn',
          inline: false,
          target: '.DashboardContainer',
          replaceTargetContent: true,
          showProgressDetails: true,
          {% if not current_user.admin %}
          note: "Images et vidéos seulement, 1–10 fichiers, jusqu'à 1 GB",
          {% endif %}
          height: 470,
          metaFields: [
              { id: 'name', name: 'Nom', placeholder: 'Match de hand' },
              { id: 'caption', name: 'Légende', placeholder: "Description du contenu"}
          ],
          locale: {
              strings: {
                  dropPaste: 'Glisse tes fichiers ici ou %{browse}',
                  browse: 'parcours'
              }
          },
          browserBackButtonClose: true
      })
      .use(Uppy.Tus, {endpoint: "{{ url_for('private.file-upload', gallery_slug=gallery.slug) }}"});

    uppy.on('complete', (result) => {
      console.log(result.successful);
    })
</script>
{% if current_user.admin %}
    <script>
        document.moderation = false;

        function toggleModeration() {
            document.moderation = !document.moderation;

            moderatedElements = document.getElementsByClassName('moderation');
            if (document.moderation) {
                for (i = 0; i < moderatedElements.length; i++) {
                    moderatedElements[i].style.display = "inline-block";
                }
            } else {
                for (i = 0; i < moderatedElements.length; i++) {
                    moderatedElements[i].style.display = "none";
                }
            }
        }
    </script>
{% endif %}
{% endblock %}
