{% extends "common/layout.html" %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-9">
                <div class="headline">
                    <h2>{{ title }}</h2>
                    <p>
                        {{ body | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
{% endblock %}
