{% extends "layout/layout.html" %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-9">
                <div class="headline">
                    <h2>Réserver du matériel</h2>
                </div>
                <br>
                <form action="" method="post">
                    <label>Matériel à emprunter</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6 col-md-offset-0">
                            <select name="object" class="form-control" size="1">
                                <option>Appareil photo</option>
                                <option>Trépied</option>
                            </select>
                        </div>
                    </div>
                    <label>Message</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-8 col-md-offset-0">
                            <textarea rows="8" class="form-control" name="message" id="message"></textarea>
                        </div>
                    </div>
                    <p>
                        <button type="submit" class="btn btn-primary" value="Envoyer">Envoyer</button>
                    </p>
                </form>
            </div>
            <!-- End Main Column -->
            <!-- Side Column -->
            <div class="col-md-3">
                <!-- Recent Posts -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact Info</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Pour des questions supplémentaires sur le club ou la réservation de matériel, vous pouvez contacter les membres du club Ponthé
                        </p>
                        <li>
                            <i class="fa-envelope color-primary"></i>ponthe@liste.enpc.fr
                        </li>
                    </div>
                </div>
                <!-- End recent Posts -->
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
{% endblock %}
