{% extends "layout/layout.html" %}

{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-9">
                <div class="headline">
                    <h2>Créer un nouveau compte </h2>
                </div>
                <br>
                <form action="" method="post">
                    <label>Nom</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6 col-md-offset-0">
                            <input type="text" required class="form-control" name="lastname" id="lastname">
                        </div>
                    </div>
                    <label>Prénom</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6 col-md-offset-0">
                            <input type="text" required class="form-control" name="firstname" id="firstname">
                        </div>
                    </div>
                    <label>Email</label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6 col-md-offset-0">
                            <input type="text" required class="form-control" style="display: inline; width: calc(100% - 110px);" name="local_email" id="local_email"> @eleves.enpc.fr
                        </div>
                    </div>
                    <label>Mot de passe </label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6 col-md-offset-0">
                            <input required type="password" class="form-control" name ="password" id="password">
                        </div>
                    </div>
                    <label>Confirmer votre mot de passe </label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6 col-md-offset-0">
                            <input required type="password" class="form-control" name="confirmation_password" id="confirmation_password">
                        </div>
                    </div>
                    <div class="row margin-bottom-20">
                        <div class="col-md-6 col-md-offset-0">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" aria-label="CGU checkbox" required>
                                    </div>
                                </div>
                                <span>J'accepte les Conditions Générales d'Utilisation en ligne <a href="{{ url_for('public.cgu') }}">ici</a>.</span>
                            </div>
                        </div>
                    </div>
                    {# on affiche les messages d'erreur puis les messages de succes #}
                    {% for categorie in ['error', 'success'] %}
                        {% with msgs = get_flashed_messages(category_filter=[categorie]) %}
                            {% if msgs %}
                                <div class="alert alert-{{ 'danger' if categorie == 'error' else 'success' }}">
                                    <ul>
                                        {% for m in msgs %}
                                            <li>{{ m | safe }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                    <p>
                        <button type="submit" class="btn btn-primary" value="Envoyer">Confirmer la création du compte</button>
                    </p>
                </form>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contact</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Pour des questions supplémentaires sur le club ou la réservation de matériel, vous pouvez contacter les membres du club Ponthé avec les informations ci-jointes
                        </p>
                        <li>
                            <i class="fa-envelope color-primary"></i><a href="mailto:ponthe@liste.enpc.fr">ponthe@liste.enpc.fr</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
{% endblock %}
