{% extends "layout/layout.html" %}
{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-9">
                <!-- Main Content -->
                <div>
                  <div>
                    <h1>Ajouter vos photos et vidéos !!!</h1>
                    <h2>{{ year }} - {{ event }}</h2>

                    <!-- Target DOM node -->
                    <div id="UppyDragDrop"></div>

                    <!-- Progress bar -->
                    <div class="UppyDragDrop-Progress"></div>

                    <button class="UppyDragDrop-Upload">Upload</button>
                  </div>
                </div>
                <!-- End Main Content -->
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
<script src="https://transloadit.edgly.net/releases/uppy/v0.25.5/dist/uppy.min.js"></script>
<script>
    const uppyTwo = new Uppy.Core({debug: true, autoProceed: false})
    uppyTwo
      .use(Uppy.DragDrop, {target: '#UppyDragDrop'})
      .use(Uppy.Tus, {endpoint: '{{ url_for('private.file-upload', year=year, event=event) }}'})
      .use(Uppy.ProgressBar, {target: '.UppyDragDrop-Progress', hideAfterFinish: false})

    var uploadBtn = document.querySelector('.UppyDragDrop-Upload')
    uploadBtn.addEventListener('click', function () {
      uppyTwo.upload()
    })
    uppy.on('complete', (result) => {
      console.log(`Upload complete! We’ve uploaded these files: ${result.successful}`)
    })
</script>
{% endblock %}
