{% extends "layout/layout.html" %}
{% block content %}
<div id="content-top-border" class="container"></div>
<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="headline">
                <h1>Ajouter vos photos et vidéos !!!</h1>
                <h2>{{ year }} - {{ event }}</h2>
            </div>
            <div class="col-md-12">
                <div id="UppyDashboard"></div>
            </div>
        </div>
    </div>
</div>
<div id="content-bottom-border" class="container"></div>
<script src="https://transloadit.edgly.net/releases/uppy/v0.25.5/dist/uppy.min.js"></script>
<script>
    const uppyTwo = new Uppy.Core({
        debug: true,
        autoProceed: false,
        restrictions: {
            maxFileSize: 1000000000,
            maxNumberOfFiles: 10,
            minNumberOfFiles: 1,
            allowedFileTypes: ['image/*', 'video/*']
        }
    });
    uppyTwo
      .use(Uppy.Dashboard, {
          inline: true,
          target: '#UppyDashboard',
          replaceTargetContent: true,
          showProgressDetails: true,
          note: "Images et videos seulement, 1–10 fichiers, jusqu'à 1 GB",
          height: 470,
          metaFields: [
              { id: 'name', name: 'Nom', placeholder: 'Match de hand' },
              { id: 'caption', name: 'Légende', placeholder: "Description du contenu"}
          ],
          browserBackButtonClose: true
      })
      .use(Uppy.Tus, { endpoint: '{{ url_for('private.file-upload', year=year, event=event) }}' });
</script>
{% endblock %}
